@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

[x-cloak] { display: none !important; }

/* SIDEBAR */

body{
    display: flex;
}

.header-title{
    font-weight: 800;
}

.sidebar-container {
    height: 100%;
    min-height: 100dvh;
    width: 4.375rem;
    background: #0d3b3f;
    transition: 0.5s width ease;
    overflow: hidden;
    flex-shrink: 0;
}
.sidebar-container:hover{
    width: 15.625rem;
}
.sidebar-container:hover .navigation li a span, .sidebar-container:hover  {
    display: block;
}

.sidebar-container:hover .navigation {
    margin: 0 0.9375rem;
    scrollbar-width:initial;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #599297; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* LOGO */
.logo-container {
    margin-top: 10px;
    height: 60px;
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}

.nav-logo {
    object-fit: contain;
    width: 45px;
}

.sidebar-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}



/* NAVIGATION */

.navigation li a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navigation {
    width: 100%;
    flex-direction: column;
    max-height: calc(100dvh - 230px);
    overflow-y: auto;
    scrollbar-width: none;
}

.navigation li {
    list-style-type: none;
    padding: 0.5rem 1.35rem;
    margin-bottom: 0.5rem;
}

.nav-icon {
    object-fit: contain;
    width: 1.5625rem;
}

#navigation-content {
    display: flex;
    flex: 1;

}

.navigation li span {
    display: none;
    margin-left: 10px;
    font-size: 12px;
    color: white;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.navigation li:hover {
    background-color: rgba(0, 255, 255, 0.092);
    border-radius: 5px;
 
}

.active {
    background-color: rgba(0, 255, 255, 0.092);
    border-radius: 5px;
}

.margin-auto {
    margin: auto;
}